# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
obj/x64/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.asm
obj/x64/Debug/app.res
obj/x64/Debug/MindRead.8436357E.tlog/CL.command.1.tlog
obj/x64/Debug/MindRead.8436357E.tlog/CL.read.1.tlog
obj/x64/Debug/MindRead.8436357E.tlog/CL.write.1.tlog
obj/x64/Debug/MindRead.8436357E.tlog/link.command.1.tlog
obj/x64/Debug/MindRead.8436357E.tlog/link.read.1.tlog
obj/x64/Debug/MindRead.8436357E.tlog/link.write.1.tlog
obj/x64/Debug/MindRead.8436357E.tlog/metagen.read.1.tlog
obj/x64/Debug/MindRead.8436357E.tlog/metagen.write.1.tlog
obj/x64/Debug/MindRead.8436357E.tlog/MindRead_FunctionSet.lastbuildstate
obj/x64/Debug/MindRead.8436357E.tlog/MindRead_FunctionSet.write.1u.tlog
obj/x64/Debug/MindRead.8436357E.tlog/NLOG.DLL.metagen
obj/x64/Debug/MindRead.8436357E.tlog/rc.command.1.tlog
obj/x64/Debug/MindRead.8436357E.tlog/rc.read.1.tlog
obj/x64/Debug/MindRead.8436357E.tlog/rc.write.1.tlog
obj/x64/Debug/MindRead2019.Build.CppClean.log
obj/x64/Debug/MindRead2019.log
obj/x64/Debug/MindRead2019.tlog/CL.command.1.tlog
obj/x64/Debug/MindRead2019.tlog/CL.read.1.tlog
obj/x64/Debug/MindRead2019.tlog/CL.write.1.tlog
obj/x64/Debug/MindRead2019.tlog/link.command.1.tlog
obj/x64/Debug/MindRead2019.tlog/link.read.1.tlog
obj/x64/Debug/MindRead2019.tlog/link.write.1.tlog
obj/x64/Debug/MindRead2019.tlog/metagen.read.1.tlog
obj/x64/Debug/MindRead2019.tlog/metagen.write.1.tlog
obj/x64/Debug/MindRead2019.tlog/MindRead2019.lastbuildstate
obj/x64/Debug/MindRead2019.tlog/MindRead2019.write.1u.tlog
obj/x64/Debug/MindRead2019.tlog/NLOG.DLL.metagen
obj/x64/Debug/MindRead2019.tlog/rc.command.1.tlog
obj/x64/Debug/MindRead2019.tlog/rc.read.1.tlog
obj/x64/Debug/MindRead2019.tlog/rc.write.1.tlog
obj/x64/Debug/MindRead2019.vcxproj.CopyComplete
obj/x64/Debug/MindRead2019.vcxprojAssemblyReference.cache
obj/x64/Debug/MindRead_FunctionSet.Build.CppClean.log
obj/x64/Debug/MindRead_FunctionSet.log
obj/x64/Debug/MindRead_FunctionSet.vcxproj.CopyComplete
obj/x64/Debug/vc141.pdb
.vs/MindRead2019/v15/.suo
.vs/MindRead2019/v15/Browse.VC.db
.vs/MindRead2019/v15/Browse.VC.opendb
.vs/MindRead2019/v15/ipch/38f6ad00f4b13b9b.ipch
.vs/MindRead2019/v15/ipch/824b59d56701571e.ipch
.vs/MindRead2019/v15/ipch/869693a1bcb4ab65.ipch
.vs/MindRead2019/v15/ipch/AutoPCH/ef551db83f40ab79/STDAFX.ipch
.vs/MindRead2019/v15/ipch/fefcef94930afc0a.ipch
.vs/MindRead2019/v15/Solution.VC.db
.vs/MindRead2019/v15/Solution.VC.db-shm
.vs/MindRead2019/v15/Solution.VC.db-wal
.vs/MindRead2019/v15/.suo
.vs/MindRead2019/v15/Browse.VC.db
.vs/MindRead2019/v15/.suo
bin/x64/Debug/MindRead2019.exe.metagen
bin/x64/Debug/MindRead2019.pdb
bin/x64/Debug/MindRead_FunctionSet.dll.metagen
bin/x64/Debug/MindRead_FunctionSet.pdb
*.db
.vs/MindRead2019/v15/Browse.VC.db
obj/x64/Debug/DemosaicRaw.vcxprojAssemblyReference.cache
obj/x64/Debug/EasyDecryption_ASCII.vcxprojAssemblyReference.cache
obj/x64/Debug/EasyEncryption_ASCII.vcxprojAssemblyReference.cache
*.db
.vs/MindRead2019/v15/Browse.VC.db
.vs/MindRead2019/v15/.suo
obj/x64/Debug/MindRead2019.tlog/link.28748-cvtres.read.1.tlog
obj/x64/Debug/MindRead2019.tlog/link.28748-cvtres.read.1.tlog
